@import "@mui-verse/ui/verse.css";
@source "../../node_modules/@mui-verse/ui/src";

@layer components {
  :root {
    --sidebar-width: 17rem;
    --sidebar-collapsed-width: 3.125rem;

    --mui-palette-primary-main: hsla(159, 54%, 50%, 1);
    --mui-palette-primary-500: hsla(159, 54%, 50%, 1);
    --mui-palette-primary-dark: hsla(159, 100%, 32%, 1);
    --mui-palette-primary-light: hsla(159, 31%, 81%, 1);
  }
}

@utility chat-sender {
  box-shadow: 0px 0px 80px 26px hsla(0, 0%, 89%, 0.25);
}

@utility chat-sender-input {
  font-size: var(--text-base);
  line-height: 22px;
}

@theme {
  --color-sidebar-divider: hsla(0, 0%, 89%, 1);
  --color-text-primary: hsla(0, 0%, 14%, 1);
  --color-text-secondary: hsla(0, 0%, 46%, 1);
  --color-action-hover: hsla(0, 0%, 94%, 1);

  --text-xs--line-height: 16px;
  --text-sm--line-height: 18px;
  --text-base--line-height: 24px;

  --spacing-bubble-user: 536px;
}

html[data-mui-color-scheme="light"] {
  --mui-palette-divider: hsla(0, 0%, 79%, 1);
  --mui-palette-text-secondary: hsla(0, 0%, 46%, 1);
}
